awscli
botocore
colorama
docutils
jmespath
jq
pip
pyasn1
python-dateutil
PyYAML
rsa
s3transfer
setuptools
six
urllib3

blinker
click
Flask
itsdangerous
Jinja2
json2html
MarkupSafe
Werkzeug

flask_wtf
wtforms
