<!DOCTYPE html>
<html>
<head>
    <title>{{ service.service_name }}</title>
    <script>
        function toggleSubMenu(submenuId) {
            var submenu = document.getElementById(submenuId);
            if (submenu.style.display === 'none' || !submenu.style.display) {
                submenu.style.display = 'block';
            } else {
                submenu.style.display = 'none';
            }
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="{{ url_for('landing_page') }}" style="position: absolute; top: 10px; right: 10px;">Back to AWS Services</a>
    <h1>{{ service.service_name }}</h1>
    {% if sections %}
        <ul>
            {% for section_name, section_items in sections.items() %}
                <li>
                    <a href="javascript:void(0);" onclick="toggleSubMenu('{{ section_name }}-submenu');">
                        {{ section_name }}
                    </a>
                    <ul id="{{ section_name }}-submenu" class="submenu" style="display: none;">
                        {% for item in section_items %}
                            <li>
                                <a href="{{ url_for('item_page', service_url=service.service_url, section_name=section_name, item_name=item.item) }}">
                                    {{ item.item }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
